<a href="https://colab.research.google.com/github/aliostadi/first/blob/master/test3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive

In [3]:
drive.mount('gdrive')

Mounted at gdrive

In [4]:
df=pd.read_csv('/content/gdrive/MyDrive/Heart data.csv')

In [7]:
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
%cd /content/drive/MyDrive/Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

In [10]:
!ls '/content/drive/MyDrive/Colab Notebooks'

 ARIMA.ipynb
 ARMA.ipynb
'AR(p).ipynb'
'artikel data using cnn and pca.ipynb'
' artikel data using cnn .ipynb'
'artikel data using lstm and pca.ipynb'
'artikel data using lstm .ipynb'
'Copy of artificial_neural_network.ipynb'
'Copy of convolutional_neural_network.ipynb'
'Copy of k_fold_cross_validation.ipynb'
'Copy of VAR without pca.ipynb'
 day1.ipynb
 day2_loops.ipynb
 Day3.ipynb
 ِِDay4.ipynb
 Day5.ipynb
 Day6.ipynb
 Day7.ipynb
 Day8.ipynb
 Day9.ipynb
 dr.keshvarparast1.ipynb
 ffnn.ipynb
 GRU.ipynb
 heartData.gsheet
 IRNN.ipynb
 LSTM.ipynb
'MA(q).ipynb'
'multiple  input multivariate time series .ipynb'
'Phase 2_Version 1.ipynb'
'simple rnn .ipynb'
 test1.ipynb
 test3.ipynb
 Untitled0.ipynb
 Untitled1.ipynb
'VAR without pca.ipynb'

In [14]:
!pip install import-ipynb
import import_ipynb

Collecting import-ipynb
  Downloading https://files.pythonhosted.org/packages/63/35/495e0021bfdcc924c7cdec4e9fbb87c88dd03b9b9b22419444dc370c8a45/import-ipynb-0.1.3.tar.gz
Building wheels for collected packages: import-ipynb
  Building wheel for import-ipynb (setup.py) ... done
  Created wheel for import-ipynb: filename=import_ipynb-0.1.3-cp36-none-any.whl size=2976 sha256=6c50a60a92ec8474fbaa22539ce3b193ecadc3a70274ad34ee0a11d40591f71c
  Stored in directory: /root/.cache/pip/wheels/b4/7b/e9/a3a6e496115dffdb4e3085d0ae39ffe8a814eacc44bbf494b5
Successfully built import-ipynb
Installing collected packages: import-ipynb
Successfully installed import-ipynb-0.1.3

In [15]:
from test1 import *

importing Jupyter notebook from test1.ipynb

In [16]:
df=dataformat(df)
df

     Age (age in year)  sex  chest pain  ...  depression   slope   ca
0                   63    1           1  ...          2.3    3.0  0.0
1                   37    1           3  ...          3.5    3.0  0.0
2                   41    0           2  ...          1.4    1.0  0.0
3                   56    1           2  ...          0.8    1.0  0.0
4                   57    0           4  ...          0.6    1.0  0.0
..                 ...  ...         ...  ...          ...    ...  ...
592                 52    1           4  ...          2.0    2.0  NaN
593                 43    1           4  ...          2.0    2.0  NaN
594                 41    1           4  ...          3.0    2.0  NaN
595                 44    1           4  ...          0.0    NaN  NaN
596                 49    1           4  ...          2.0    2.0  NaN

[597 rows x 12 columns]