<a href="https://colab.research.google.com/github/aliostadi/first/blob/master/test2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
url="https://raw.githubusercontent.com/aliostadi/first/master/Heart%20data.csv"

In [26]:
df=pd.read_csv(url)
df

     Age (age in year)  sex  chest pain  blood pressure  ...  slope   ca  thal  c
0                   63    1           1           145.0  ...    3.0  0.0   6.0  0
1                   37    1           3           130.0  ...    3.0  0.0   3.0  0
2                   41    0           2           130.0  ...    1.0  0.0   3.0  0
3                   56    1           2           120.0  ...    1.0  0.0   3.0  0
4                   57    0           4           120.0  ...    1.0  0.0   3.0  0
..                 ...  ...         ...             ...  ...    ...  ...   ... ..
592                 52    1           4           140.0  ...    2.0  NaN   NaN  1
593                 43    1           4           140.0  ...    2.0  NaN   NaN  1
594                 41    1           4           120.0  ...    2.0  NaN   NaN  1
595                 44    1           4           135.0  ...    NaN  NaN   NaN  1
596                 49    1           4           150.0  ...    2.0  NaN   NaN  1

[597 rows x 14 columns]

In [27]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [28]:
!pip install import-ipynb
import import_ipynb

Requirement already satisfied: import-ipynb in /usr/local/lib/python3.6/dist-packages (0.1.3)

In [29]:
%cd /content/drive/My\ Drive/Colab Notebooks

/content/drive/My Drive/Colab Notebooks

In [30]:
!ls "/content/drive/My Drive/Colab Notebooks"

 ARIMA.ipynb
 ARMA.ipynb
'AR(p).ipynb'
'artikel data using cnn and pca.ipynb'
' artikel data using cnn .ipynb'
'artikel data using lstm and pca.ipynb'
'artikel data using lstm .ipynb'
'Copy of artificial_neural_network.ipynb'
'Copy of convolutional_neural_network.ipynb'
'Copy of k_fold_cross_validation.ipynb'
'Copy of VAR without pca.ipynb'
 day1.ipynb
 day2_loops.ipynb
 Day3.ipynb
 ِِDay4.ipynb
 Day5.ipynb
 Day6.ipynb
 Day7.ipynb
 Day8.ipynb
 Day9.ipynb
 dr.keshvarparast1.ipynb
 ffnn.ipynb
 GRU.ipynb
 IRNN.ipynb
 LSTM.ipynb
'MA(q).ipynb'
'multiple  input multivariate time series .ipynb'
'Phase 2_Version 1.ipynb'
'simple rnn .ipynb'
 test1.ipynb
 Untitled0.ipynb
 Untitled1.ipynb
'VAR without pca.ipynb'

In [31]:
from test1 import *

In [33]:
dataformat(df)

     Age (age in year)  sex  chest pain  ...  depression   slope   ca
0                   63    1           1  ...          2.3    3.0  0.0
1                   37    1           3  ...          3.5    3.0  0.0
2                   41    0           2  ...          1.4    1.0  0.0
3                   56    1           2  ...          0.8    1.0  0.0
4                   57    0           4  ...          0.6    1.0  0.0
..                 ...  ...         ...  ...          ...    ...  ...
592                 52    1           4  ...          2.0    2.0  NaN
593                 43    1           4  ...          2.0    2.0  NaN
594                 41    1           4  ...          3.0    2.0  NaN
595                 44    1           4  ...          0.0    NaN  NaN
596                 49    1           4  ...          2.0    2.0  NaN

[597 rows x 12 columns]