<a href="https://colab.research.google.com/github/aliostadi/first/blob/master/test2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('C:/Users/User/Desktop/git test/Heart data.csv')
df

,Age (age in year),sex,chest pain,blood pressure,cholestoral,blood sugar,electrocardiographic,heart rate,exercise induced,depression,slope,ca,thal,c
0,63,1,1,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,37,1,3,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
2,41,0,2,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
3,56,1,2,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0
4,57,0,4,120.0,354.0,0.0,0.0,163.0,1.0,0.6,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,52,1,4,140.0,266.0,0.0,0.0,134.0,1.0,2.0,2.0,NaN,NaN,1
593,43,1,4,140.0,288.0,0.0,0.0,135.0,1.0,2.0,2.0,NaN,NaN,1
594,41,1,4,120.0,336.0,0.0,0.0,118.0,1.0,3.0,2.0,NaN,NaN,1
595,44,1,4,135.0,491.0,0.0,0.0,135.0,0.0,0.0,NaN,NaN,NaN,1
596,49,1,4,150.0,222.0,0.0,0.0,122.0,0.0,2.0,2.0,NaN,NaN,1

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
!pip install import-ipynb
import import_ipynb

Collecting import-ipynb
  Downloading https://files.pythonhosted.org/packages/63/35/495e0021bfdcc924c7cdec4e9fbb87c88dd03b9b9b22419444dc370c8a45/import-ipynb-0.1.3.tar.gz
Building wheels for collected packages: import-ipynb
  Building wheel for import-ipynb (setup.py) ... done
  Created wheel for import-ipynb: filename=import_ipynb-0.1.3-cp36-none-any.whl size=2976 sha256=47f614ea6b170233a3e3c9e1b5bcafe6a14b31ff931e2f187ccc231512ef7f3a
  Stored in directory: /root/.cache/pip/wheels/b4/7b/e9/a3a6e496115dffdb4e3085d0ae39ffe8a814eacc44bbf494b5
Successfully built import-ipynb
Installing collected packages: import-ipynb
Successfully installed import-ipynb-0.1.3

In [20]:
%cd /content/drive/My\ Drive/Colab Notebooks

/content/drive/My Drive/Colab Notebooks

In [21]:
!ls "/content/drive/My Drive/Colab Notebooks"

 ARIMA.ipynb
 ARMA.ipynb
'AR(p).ipynb'
'artikel data using cnn and pca.ipynb'
' artikel data using cnn .ipynb'
'artikel data using lstm and pca.ipynb'
'artikel data using lstm .ipynb'
'Copy of artificial_neural_network.ipynb'
'Copy of convolutional_neural_network.ipynb'
'Copy of k_fold_cross_validation.ipynb'
'Copy of VAR without pca.ipynb'
 day1.ipynb
 day2_loops.ipynb
 Day3.ipynb
 ِِDay4.ipynb
 Day5.ipynb
 Day6.ipynb
 Day7.ipynb
 Day8.ipynb
 Day9.ipynb
 dr.keshvarparast1.ipynb
 ffnn.ipynb
 GRU.ipynb
 IRNN.ipynb
 LSTM.ipynb
'MA(q).ipynb'
'multiple  input multivariate time series .ipynb'
'Phase 2_Version 1.ipynb'
'simple rnn .ipynb'
 test1.ipynb
 Untitled0.ipynb
 Untitled1.ipynb
'VAR without pca.ipynb'

In [23]:
from test1 import *

In [ ]:
changeformat(df)